/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
}

.header {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Alinea el contenido en la parte superior */
    padding: 0.5px; /* Reduzco el padding para hacer el encabezado más pequeño */
    background-color: #f0f0f0;
    flex-direction: column; /* Cambia la dirección a columna */
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 100%;
    height: auto;
    max-height: 80px;
}
@font-face {
    font-family: 'Prompt';
    src: url('/Users/angelopez/Desktop/ Proyecto Cayetano/Fonts/Prompt-ExtraLight.ttf') format('truetype'); /* Ajusta la ruta y el formato según corresponda */
    font-weight: normal;
    font-style: normal;
}
.nav-container {
    text-align: center;
    padding: 10px; /* Reduzco el padding para hacer el encabezado más pequeño */
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Cambio el display a "flex" para colocar los enlaces en una fila */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; 
}

.nav-links li {
    margin-right: 50px; 
}

.nav-links a {
    text-decoration: none;
    color: #9E9E9E;
    font-weight: normal;
    font-size: 16px;
    font-family: 'Prompt', sans-serif;
}
.nav-links a:hover {
    color: black; /* Cambia el color al negro */
}


/* Agrega estilos para el contenedor de la imagen */

.slideshow {
    position: relative;
    max-width: 100%;
    text-align: center;
    overflow: hidden;
    display: flex; /* Añade display flex para que el contenido se alinee verticalmente */
}
.image-container {
    position: relative;
    max-width: 100%;
    z-index: 0; /* Capa inferior */
}

/* Estilos para la imagen dentro del contenedor */
.slide {
    max-width: 100%;
    height: auto;
    opacity: 1; /* Establece la opacidad inicial */
    transition: opacity 1s ease-in-out;/* Añade una transición de opacidad */
    z-index: 0;
}

.text-overlay {
    position: absolute;
    top: 0;
    right: 0; /* Coloca el rectángulo vertical en la derecha */
    width: 70%; /* Ajusta el ancho del rectángulo vertical */
    height: 70%;
    background-color: rgba(255, 255, 255, 0.831);
    color: rgb(100, 100, 100);
    z-index: 1; /* Capa superior */
    display: flex;
    flex-direction: column; /* Cambia la dirección de los elementos a columna */
    justify-content: center;
    align-items: center;
    padding: 20px; /* Añade espacio alrededor del texto */
    margin-top: 150px;
    box-sizing: border-box;
}

.text-content {
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
}

.hidden {
    display: none;
}
